* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
  
    width: 320px;
    background-color: rgb(39, 151, 151);
    margin: 50px auto;
    padding: 50px;
    border-radius: 10px;
    overflow: hidden;
}
.text-section>input,
button {
    padding: 20px 25px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1);
    cursor: pointer;
}
.text-section button{
    background-color: rgba(232, 67, 247, 0.863);
}
.text-section>input:hover,
button:hover {
    transform: translateY(3px)
}
.list-area li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px auto;
    margin: 15px 1px;
    background-color: rgba(127, 255, 212, 0.322);
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
}
.list-area li span{
    overflow-wrap: break-word;
}
.list-area button {
    background: linear-gradient(135deg, rgb(118, 207, 241) 0%, rgb(84, 84, 207) 100%);
}