* {
    margin: 0;
    padding: 0;
    color: white;
    font-style: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.invert {
    filter: invert(1);
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(images/wallpepar.png);
    overflow: hidden;
}

.render-icons {
    padding: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0px 10px;
}

.main-apps {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.window-icon-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.window {
    padding: 8px;
}



.window-btn-click {
    height: 78vh;
    width: 500px;
    background: rgba(0, 0, 0, 0.897);
    filter: blur(40%);
    color: white;
    position: absolute;
    top: 90px;
    border-radius: 30px;
    left: -1000px;
}

.window-btn-click h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-btn-click>.render-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile-img {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */
    position: absolute;
    bottom: 60px;
    /* userrrr */
    width: 100%;
}

.user-profile-img img {
    border-radius: 50%;
    margin: 10px;
}





.shut-down-page-load {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 1;
    display: none;
}

.load-black-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 30px;
}

.loading-shutting-page {
    width: 5vw;
    height: 10vh;
    margin: 20px;
    border: 1px solid transparent;
    border-top: 8px solid #ff6a00;
    border-right: 8px solid #ff6a00;
    border-radius: 99%;
    animation: spin 2s linear infinite;
    animation-play-state: running;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.power-on-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 1;
    display: none;
}

.power-on-page-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    gap: 20px;
}

.power-on-page-content h1 {
    color: cadetblue;
}

.power-on-page button {
    margin: 10px 10px;
    padding: 10px 30px;
    background-color: rgba(169, 169, 169, 0.514);
    border-radius: 20px;
    font-size: 20px;
    border: none;
    outline: none;
    transition: all 0.8s ease;
    cursor: pointer;
}

.power-on-page button:hover {
    transform: translateY(3px);
    box-shadow: 1px 2px 3px rgb(122, 118, 118);
}

.powering-on-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    z-index: 1;
    display: none;
}

.powering-on-page-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px;
}

.loading-shutting-page {
    width: 5vw;
    height: 10vh;
    margin: 20px;
    border: 1px solid transparent;
    border-top: 8px solid #ff6a00;
    border-right: 8px solid #ff6a00;
    border-radius: 99%;
    animation: spin 2s linear infinite;
    animation-play-state: running;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}




.wifi-bt-lg-page {
    position: absolute;
    right: 10px;
    bottom: 75px;
    min-width: 260px;
    max-height: 30vh;
    background-color: rgba(159, 159, 190, 0.5);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    font-size: 12px;
    display: none;
    /* right: -1000px; */
}

.buttons-button {

    display: grid;
    grid-template-columns: 85px 85px 85px;
}

#btn-click {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    width: 65px;
    background-color: rgba(171, 171, 197, 0.856);
    border: 1px solid white;
    align-items: center;
    margin: 2px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#btn-click.active {
    background: linear-gradient(135deg, rgb(31, 125, 161), rgb(152, 199, 243));
}

#btn-click button {
    background: transparent;
    border: none;
    outline: none;
    gap: 10px;
}

#btn-click p {
    font-size: 10px;
}

.wifi-bt-lg-page input {
    width: 80%;
}




.window-icon-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.input-search input {
    border: 1px solid black;
    color: white;
    outline: none;
    margin: 2px 6px;
    padding: 10px 25px;
    background-color: rgb(43, 41, 41);
}

.input-search input:hover {
    border: 1px solid rgba(255, 255, 255, 0.39);
    background-color: rgb(51, 49, 46);
}

.input-search input::placeholder {
    color: white;
}

.input-search img {
    margin: 5px 5px;
    padding: 8px;
    position: absolute;
    display: inline-block;
    align-items: center;
}

.window-icon-left img {
    padding: 5px;
}

.window-icon-left img:hover {
    background-color: rgb(43, 38, 38);
}

.whether-forecast {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 6px;
}

.whether-forecast:hover {
    background-color: rgba(208, 231, 231, 0.158);
}

.wifi-bat-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 11px;
}

.wifi-bat-lang:hover {
    background-color: rgba(240, 248, 255, 0.185);
}

.window-icon-right h5 {
    padding: 8px;
}

.window-icon-right h5:hover {
    background-color: rgba(240, 248, 255, 0.185);
}

.time-upate-date {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 5px;
}

.time-upate-date:hover {
    background-color: rgba(240, 248, 255, 0.185);
}

.app-render {
    display: flex;
    justify-content: center;
    flex-direction: column;

}



.app-window-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 9999;

}

.app-window {
    position: absolute;
    top: 50px;
    left: 80px;
    width: 50%;
    height: 73vh;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
    overflow: hidden;

}

.size-btns {
    display: flex;
    justify-content: flex-end;
    cursor: move;
    right: 0;
    position: absolute;
    z-index: 99999;
    pointer-events: auto !important;
}

.size-btns button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.app-window.maximize {
    left: 0px !important;
    width: 100% !important;
    height: 90vh !important;
    position: absolute;
    bottom: 90px;
    top: 0;
    z-index: 9999;
}

.app-window.minimize {
    top: 50px !important;
    left: 80px !important;
    width: 50% !important;
    height: 73vh !important;
    position: absolute;
    z-index: 9999;
}

.app-window iframe {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 40px auto !important;
    z-index: 100;
    pointer-events: auto !important;
    margin: 0;
    padding: 0;
}


@media screen and (max-width:788px) {
    .container{
        height : 90vh;
    }
    .footer {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .main-apps {
        display: none;
    }

    .wifi-bat-lang {
        display: none;
    }

    .window-icon-right h5 {
        display: none;
    }

    .time-upate-date {
        display: none;
    }

    .whether-forecast {
        font-size: 12px;
    }

    .whether-forecast img {
        width: 25px;
        height: 25px;
    }

    .input-search input {
        width: calc(60%-350px);
    }

    .window-btn-click {
        width: 400px;
        position: absolute;
        bottom: 0;
    }
    .app-window{
        width: 80%;
        height: 70vh;
    }


}
